.App {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#e66465, #9198e5);
  // background: webkit-linear-gradient(#e66465, #9198e5);
  // background-image: url("https: //image.shutterstock.com/image-vector/landscape-wallpaper-design-golden-mountain-600w-1790889155.jpg");
  width: 100vw;
  height: 100vh;
}
